.git/
.github/
.gitattributes
.gitignore
.gitmodules
.dockerignore
LICENSE
README.md
CONTRIBUTING.md
CHANGELOG
secrets/
renv/
!renv/activate.R
!renv/settings*
.Rproj.user/
.Rhistory
*.Rproj
*.Rhistory
